<div class="container">
    <div *ngFor="let product of filteredProducts" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="p-8 rounded-t-lg" src={{product.image}} alt="product image" />
      </a>
      <div class="px-5 pb-5">
        <a href="#">
          <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{product.title}}</h5>
        </a>
        <div class="flex items-center justify-between">
          <span class="text-3xl font-bold text-gray-900 dark:text-white">{{product.price}}</span>
         
         <!-- out of stock button -->
          <ng-container *ngIf="product.stock === 0; else addToCartButton">
           
            <button class="text-white bg-gray-300 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" disabled>
              Out of Stock
            </button>
          </ng-container>
          <ng-template #addToCartButton>
            <div *ngIf="isShowdetails;else showButton">
              {{product.details}}
              <button type="button" (click)="showDetails()" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">close</button>
            </div>
            <ng-template #showButton>
              <button type="button" (click)="showDetails()" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">View</button>
            </ng-template>
            <a (click)="addtoCart(product)" [ngClass]="isInCart(product) ? 'go-to-cart' : 'add-to-cart'" 
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover-bg-blue-700 dark:focus:ring-blue-800">
              {{ isInCart(product) ? 'Go to Cart' : 'Add to Cart' }}
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  