<form #regForm="ngForm" (ngSubmit)="onSubmit(regForm)">
    <input type="text" name="name" id="name" [(ngModel)]="user.name" placeholder="name..." required pattern="^[A-Z a-z]+$">
    <div *ngIf="regForm.controls['name'].invalid && (regForm.controls['name'].dirty || regForm.controls['name'].touched)">
      <div *ngIf="regForm.controls['name'].hasError('required')">Name is required</div>
      <div *ngIf="regForm.controls['name'].hasError('pattern')">Name should not contain numbers or special characters</div>
    </div>
    
    <input type="email" name="email" id="email" [(ngModel)]="user.email" placeholder="email..." required email>
    <div *ngIf="regForm.controls['email'].invalid && (regForm.controls['email'].dirty || regForm.controls['email'].touched)">
      <div *ngIf="regForm.controls['email'].hasError('required')">Email is required</div>
      <div *ngIf="regForm.controls['email'].hasError('email')">Invalid email address</div>
    </div>
    
    <input type="password" name="password" id="password" [(ngModel)]="user.password" placeholder="password..." required minlength="6">
    
    <input type="number" name="age" id="age" [(ngModel)]="user.age" placeholder="age..." required min="18" max="99">
    
    <select name="country" id="country" [(ngModel)]="user.country" required>
      <option value="">Select country</option>
    <option value="india">India</option>
    <option value="india">Nepal</option>
    </select>
    
    <input type="checkbox" name="accept" id="accept" [(ngModel)]="user.accept" required>
    <label for="accept">accept </label>
    
    <button type="submit" [disabled]="regForm.invalid">Submit</button>
  </form>
  