.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 2px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.card h5 {
    font-size: 1.2rem;
    color: #007bff;
  }
  
  .card p {
    margin: 10px 0;
  }
  
  /* Center the cards in a row */
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }