

<input type="text" [(ngModel)]="searchQuery" placeholder="Search by title..." (input)="SearchByTitle()">

<select name="category" [(ngModel)]="selectedCategory" id="" (change)="SearchByTitle()">
    <option value="">Select Category</option>
    <option value="men's clothing">men's clothing</option>
    <option value="women's clothing">women's clothing</option>
    <option value="jewelery">jewelery</option>
    <option value="electronics">electronics</option>
</select>
<div class="product-container">

        <div *ngIf="loading else productlist">

           <h1>Loading....</h1>
        </div>

       
    <ng-template #productlist>
        <div *ngFor="let product of filteredProducts" [ngClass]="{'card':true}" (click)="onProductClick(product.id)">
            
            <img src='{{product.image}}' alt="" srcset="">
            <h3>{{product.title}}</h3>
            <h4>{{product.price}}</h4>
            <h4>{{product.category}}</h4>
            <button type="button">Add to cart</button>
        </div>
    </ng-template>
    

      
   
  
    
</div>


