.navbar {
    background-color: #68aab9;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    font-size: 18px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links li a.active {
    font-weight: bold;
  }
  